.header-wrap {
  display: flex;
  background: #3B5998;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 1008px;
  margin: 0 auto;
  max-height: 42px;
}

.header {
  display: flex;
  background: #3B5998;
  height: 42px;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 3;
  width: 100%;
}

.header p {
  color: white;
  font-size: 10px;
}

.search-sec {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 448px;
  min-width: 200px;
  align-items: center;
  justify-content: flex-start;
  height: 20px;
}

.header-search {
  width: calc(100% - 20px);
  height: 25px;
  border-radius: 2px 0 0 2px;
  border: 0px solid #000000;
  padding: 0;
  padding-left: 3px;
}

.fa-search::before {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-search {
  background-color: #F8FAFC;
  color: #606F7B;
  width: 35px;
  padding: 4.5px;
  border-radius: 0 2px 2px 0;
  border: 0px solid #000000;
  border-left: 1px solid #F1F5F8;
}

.fa-search:hover {
  background-color: #DAE1E7;
  cursor: pointer;
}

.fa-search::before {
  line-height: normal;
}

.fa-facebook-square {
  display: block;
  color: white;
  margin-left: 2%;
  margin: auto 10px auto 0;
  font-size: 30px;
}

.fa-facebook-square:hover {
  color: #DAE1E7;
  cursor: pointer;
}

.logo-search {
  display: flex;
  justify-content: flex-start;
  width: calc(100% - 310px);
  height: 42px;
  align-items: center;
}

.home-button {
  padding: 8px 10px 8px 10px;
  margin: 0;
  border: 0 solid black;
  border-radius: 7px;
}

.home-button:hover,
.user:hover {
  background-color: #344e86;
  cursor: pointer;
}

.user-social, .user-other {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-social {
  justify-content: center;
  width: 85px;
  margin: 0px 10px 0px 10px;
}

.user-other {
  width: 53px;
  margin: 0px 10px 0px 10px;
}

.user-options {
  display: flex;
  justify-content: flex-start;
  width: 315px;
  height: 42px;
  align-items: center;
}

.user-options .far,
.user-options .fas,
.user-options .fab {
  color: #293e6a;
  font-size: 20px;
  margin: 0px 5px 0px 5px;
}

.user-options .far:hover,
.user-options .fas:hover,
.user-options .fab:hover {
  color: #1d2c4c;
  cursor: pointer;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  margin: 0px 0px 0px 5px;
  padding: 3px 10px 3px 5px;
  border: 0 solid black;
  border-radius: 7px;
}

.user .header-profile {
  height: 25px;
  border-radius: 15px;
  margin-right: 5px;
}

.user p {
  margin: 0px;
}

.line {
  display: inline-block;
  color: #355088;
  font-size: 1.2rem;
}

.title {
  font-size: 0px;
}

.social-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-box:hover .title {
  font-size: 12px;
  display: block;
  z-index: 100;
  position: absolute;
  top: 41px;
  background-color: #616060;
  border-radius: 4px;
  border: 0px solid black;
  padding: 2px;
  color: white;
}

.header-media-cont,
.header-media {
  display: none;
}

html {
  background: #E9EAED;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

textarea, input, *:focus {
  outline: none !important;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.screen {
  display: flex;
  position: relative;
  align-content: center;
  justify-content: center;
  top: 42px;
  width: 100%;
  margin: 0;
  font-size: 13px;
  overflow: hidden;
}

.wall {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "sidebar posts events";
  justify-content: center;
  grid-column-gap: 10px;
}

.sidebar {
  grid-area: sidebar;
  width: 180px;
}

.sidebar .no-scroll {
  position: fixed;
  width: 180px;
}

.sidebar .scroll {
  position: relative;
  width: 180px;
}

.posts {
  grid-area: posts;
  width: 500px;
  font-size: 13px;
  margin-top: 16px;
}

.posts .no-scroll {
  position: fixed;
  width: 500px;
}

.posts .scroll {
  position: relative;
  width: 500px;
}

.posts .post-profile {
  height: 45px;
  margin: 10px;
  border: 1px solid #c9c6c6;
  border-radius: 25px;
  box-sizing: border-box;
}

.posts .posted {
  margin-bottom: 8px;
}

.events {
  grid-area: events;
  width: 308px;
  margin-top: 16px;
}

.events .no-scroll {
  width: 308px;
  position: fixed;
}

.events .scroll {
  width: 308px;
  position: relative;
}

.user-sidebar {
  margin-top: 13px;
  margin-bottom: 14px;
  padding: 4px 4px 4px 5px;
}

.social-sidebar .fa-ellipsis-h {
  margin-left: auto;
  margin-right: 5px;
  font-size: 12px;
}

.sidebar-titles {
  font-weight: bold;
  color: rgba(94, 93, 93, 0.74902);
  margin-bottom: 5px;
}

.shortcuts-sidebar,
.explore-sidebar {
  margin-top: 20px;
  display: flex;
  width: 180px;
  flex-direction: column;
}

.create-sidebar {
  margin-top: 20px;
  width: 180px;
  cursor: default;
}

.create {
  color: #344e86;
  cursor: pointer;
}

.create:hover {
  text-decoration: underline;
}

.divider {
  color: rgba(94, 93, 93, 0.74902);
  font-size: 10px;
  cursor: default;
}

.group .fas {
  color: #794ACF;
}

.group-name,
.see-more-text {
  font-size: 13px;
}

.see-more-text {
  color: #344e86;
}

.user-sidebar,
.newsfeed,
.messanger,
.marketplace {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user-sidebar .name,
.user-sidebar .last-name {
  font-size: 13px;
  padding: 2px;
}

.sidebar-profile,
.newsfeed .fa-newspaper,
.messanger .fab,
.marketplace .fa-shopping-bag,
.shortcuts-sidebar .fas,
.explore-sidebar .fas,
.explore-sidebar .far {
  font-size: 17px;
  margin-right: 4px;
}

.sidebar-profile {
  height: 22px;
  border-radius: 12px;
}

.social {
  font-size: 13px;
}

.sidebar,
.social-sidebar {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.social-grid {
  display: grid;
  grid-template-columns: 25px 131px 20px;
  grid-template-rows: auto;
  grid-template-areas: "icon title dot";
  justify-content: center;
  align-content: center;
  padding: 4px;
  padding-left: 10px;
}

.social-grid:hover {
  background-color: #F6F7F9;
  border: 1px solid rgba(195, 196, 197, 0.619608);
  border-radius: 4px;
  cursor: pointer;
  padding: 3px;
  padding-left: 9px;
}

.social-grid .fa-newspaper,
.social-grid .fa-user-secret,
.social-grid .fa-user-ninja {
  grid-area: icon;
}

.social,
.group .group-name {
  grid-area: title;
}

.social-grid .fa-ellipsis-h {
  grid-area: dot;
  display: none;
  color: rgba(94, 93, 93, 0.74902);
}

.social-grid:hover .fa-ellipsis-h {
  display: inline-block;
}

.newsfeed .fa-newspaper {
  color: #52a5a7;
}

.messanger .fa-facebook-messenger {
  color: #6d84b4;
}

.marketplace .fa-shopping-bag {
  color: darkorange;
}

.sidebar-events .fa-calendar-alt {
  color: hotpink;
}

.sidebar-pages .fa-flag {
  color: orangered;
}

.sidebar-groups .fa-user-ninja {
  color: #794ACF;
}

.sidebar-friends .fa-user-friends {
  color: #3B5998;
}

.new-post {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 13px;
  background-color: #FFFFFF;
  border: 1px solid #dddfe2;
  border-radius: 4px;
  transition: all 0.3s linear;
  position: relative;
  z-index: 2;
}

.new-post:focus-within {
  transform: scale(1.2);
  transition: all 0.5s linear;
  z-index: 3;
}

.new-post .post-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.cool-arrow-post {
  border-bottom: 8px solid #e9ebee;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  left: 10%;
  top: 27px;
  font-size: 0;
  height: 0;
  line-height: 0;
  position: absolute;
  width: 0;
}

.cool-arrow-post::after {
  border-bottom: 8px solid #fff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  left: -8px;
  top: 2px;
  content: " ";
  position: absolute;
}

.post-ot {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "icon title";
  padding: 8px;
}

.post-ot:hover {
  background-color: #ecedef;
  cursor: pointer;
  border: 0px solid black;
  border-radius: 10px;
}

.post-options {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  background-color: #F6F7F9;
  width: 100%;
  height: 33px;
  border: 0px solid black;
  border-bottom: 1px solid #dddfe2;
  margin-right: 1px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.post-options .fas {
  grid-area: icon;
  width: 20px;
  color: rgba(0, 0, 0, 0.729412);
}

.post-options span[class$="title"] {
  grid-area: title;
  font-weight: bold;
  color: #3B5998;
}

.post-options .divider {
  font-size: 20px;
}

.post-box-input {
  width: 100%;
  height: 31px;
  padding-top: 25px;
  padding-bottom: 15px;
  resize: none;
  font-family: 'Roboto', sans-serif;
  outline: none;
  border: none;
  overflow: hidden;
}

.post-box {
  border-bottom: 1px solid #dddfe2;
  border-radius: 20px;
}

.post-box .far {
  font-size: 40px;
  padding: 10px;
  color: red;
}

div[class^="post-add"] i[class*="fa-"] {
  grid-area: icon;
  font-size: 20px;
}

div[class^="post-add"] span[class$="-title"] {
  grid-area: title;
  padding: 3px;
}

.post-text .fa-pencil-alt,
.post-album .fa-images,
.post-live .fa-video {
  padding-right: 3px;
}

div[class^="post-add"],
.post-add .fa-ellipsis-h {
  background-color: #F6F7F9;
  margin-left: 10px;
  border: 0px solid black;
  border-radius: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.post-add {
  height: 49px;
}

.post-add .fa-ellipsis-h {
  padding: 7px 8px 9px 8px;
  width: 50px;
  height: 12.2px;
  text-align: center;
  font-size: 18px;
  color: rgba(94, 93, 93, 0.74902);
}

.post-add-photo .fa-image {
  color: rgba(111, 172, 18, 0.890196);
}

.post-add-feeling .fa-smile {
  color: rgba(243, 180, 3, 0.670588);
}

.post {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  width: 100%;
  background: white;
  margin-top: 5px;
  border: 1px solid #dddfe2;
  border-radius: 4px;
  transform-box: fill-box;
}

.post .pic1 {
  height: auto;
  max-height: 300px;
  max-width: 500px;
  margin: 10px 10px 0 10px;
}

.post > .likes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.post > .likes .fa-thumbs-up {
  background-color: #3B5998;
  color: white;
  border: 0px solid black;
  border-radius: 6px;
  padding: 3px;
  font-size: 8px;
}

.post > .likes .likes-amount {
  font-size: 11px;
  color: #3B5998;
  margin-left: 2px;
}

.user-posting {
  display: grid;
  grid-template-columns: 60px auto;
  grid-template-rows: auto;
  grid-template-areas: "profile username options";
  align-items: center;
  margin-bottom: 6px;
  margin-top: 6px;
}

.user-posting .post-profile {
  grid-area: profile;
}

.user-posting .user-posting-name-time {
  grid-area: username;
  display: grid;
  grid-template-columns: 30px 300px;
  grid-template-rows: auto;
  grid-template-areas: "name name" "time privacy";
  align-items: center;
  grid-row-gap: 3px;
}

.user-posting .user-posting-name-time .username-posting {
  grid-area: name;
  color: #3B5998;
  font-weight: bold;
}

.user-posting .user-posting-name-time .time-posting {
  grid-area: time;
  font-size: 10px;
  color: rgba(94, 93, 93, 0.74902);
}

.user-posting .user-posting-name-time .fa-globe {
  grid-area: privacy;
  margin-right: 390px;
  font-size: 8px;
  color: rgba(94, 93, 93, 0.74902);
}

.user-posting .post-user-options {
  grid-area: options;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.user-posting .post-user-options .post-hover-box {
  display: none;
}

.user-posting .post-user-options .cool-arrow-post {
  display: none;
}

.user-posting .post-user-options .post-hover {
  color: gray;
}

.user-posting .post-user-options:hover .post-hover-box {
  display: inline-block;
  position: absolute;
  left: -10%;
  top: 133%;
  padding: 5px 0px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  background-color: #eeeeee;
  width: 100px;
  overflow: hidden;
}

.user-posting .post-user-options:hover .cool-arrow-post {
  border-bottom: 8px solid #dddddd;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  left: 22.5px;
  top: 9px;
  font-size: 0;
  height: 0;
  line-height: 0;
  position: absolute;
  width: 0;
  display: block;
  z-index: 2;
}

.user-posting .post-user-options .cool-arrow-post::after {
  border-bottom: 8px solid #eeeeee;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  left: -8px;
  top: 2px;
  content: " ";
  position: absolute;
}

.user-posting .post-user-options .post-hover-options {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 4px 5px;
  font-weight: bold;
}

.user-posting .post-user-options .post-hover-options:hover {
  background-color: #cccccc;
  cursor: pointer;
}

.post-content {
  margin-left: 10px;
  margin-top: 5px;
}

.edit-active {
  grid-area: content;
  width: calc(100% - 14px);
  min-height: 10px;
  padding: 2px;
  margin: 2px 2px;
  resize: vertical;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  overflow: hidden;
  box-sizing: border-box;
  border: 3px solid rgba(94, 93, 93, 0.74902);
}

.post-action {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: rgba(94, 93, 93, 0.74902);
  border-bottom: 1px solid #dddfe2;
  font-weight: bold;
}

.post-action div[class^="post-"] {
  padding: 7px;
  margin: 2px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-action div[class^="post-"] i {
  margin-right: 5px;
}

.post-action div[class^="post-"]:hover {
  background-color: #f2f3f5;
  cursor: pointer;
}

.post-action .clicked {
  background-color: #f2f3f5;
}

.stories {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #dddfe2;
  border-radius: 4px;
}

.stories .see-more {
  margin: 0px 8px 8px;
}

.stories-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.stories-title,
.stories-header .fa-ellipsis-h {
  padding: 8px;
  color: rgba(94, 93, 93, 0.74902);
  font-weight: bold;
}

div[class^="stories-story"] {
  margin: 0px 0 2px 0;
  padding: 4px;
  display: grid;
  grid-template-columns: 55px auto;
  grid-template-rows: auto;
  grid-template-areas: "picture username" "picture add";
}

.stories-story-main .fa-plus-circle::before {
  background-color: #afbdd4;
  border-radius: 100px;
}

.stories-story-1 .fa-user-circle {
  color: #246188;
}

.stories-story-2 .fa-user-circle {
  color: purple;
}

div[class^="stories-story"] i[class*="fa-"] {
  grid-area: picture;
  font-size: 45px;
}

div[class^="stories-story"] .post-profile {
  grid-area: picture;
  height: 45px;
  border: 1px solid #c9c6c6;
  border-radius: 25px;
  box-sizing: border-box;
}

div[class^="stories-story"] .stories-username {
  grid-area: username;
  color: #344e86;
  font-weight: bold;
}

div[class^="stories-story"] .stories-additional {
  grid-area: add;
  color: rgba(94, 93, 93, 0.74902);
  font-weight: bold;
  font-size: 11px;
}

div[class^="stories-story"]:hover {
  background-color: #f2f3f5;
  cursor: pointer;
  border: 0px solid black;
}

.see-more {
  cursor: pointer;
}

.see-more .fas {
  color: rgba(94, 93, 93, 0.74902);
}

.see-more:hover .see-more-text {
  text-decoration: underline;
}

.post-commenting {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  border: 1px solid #dddfe2;
  border-left: 0px;
  border-right: 0px;
  width: 500px;
  overflow: hidden;
}

.post-commenting .commenting-textarea {
  width: 100%;
  height: 80px;
  min-height: 80px;
  padding: 0;
  margin-top: 10px;
  resize: vertical;
  font-family: 'Roboto', sans-serif;
  outline: none;
  border: 2px solid #dddfe2;
  box-sizing: border-box;
  overflow: hidden;
}

.post-commenting .comment-button {
  color: rgba(94, 93, 93, 0.74902);
  background-color: #eeeeee;
  border: 1px solid #dddfe2;
  padding: 5px;
  margin: 5px;
  width: 84px;
  align-self: flex-end;
}

.post-commenting .comment-button:hover {
  background-color: #dddddd;
  cursor: pointer;
}

.user-comment {
  display: grid;
  grid-template-columns: 65px auto;
  grid-template-rows: auto;
  grid-template-areas: "picture username username username options" "picture content content content content" "picture actions actions actions time" "likes likes likes likes likes";
  align-content: center;
  border-top: 1px solid #dddfe2;
  border-radius: 10px;
  margin-top: 10px;
}

.user-comment .post-profile {
  grid-area: picture;
  align-self: center;
}

.user-comment .comment-content {
  grid-area: content;
  margin: 5px;
  margin-left: 2px;
  margin-top: 0;
  word-break: break-all;
  overflow: hidden;
}

.user-comment .username-commenting {
  grid-area: username;
  color: #3B5998;
  font-weight: bold;
  margin: 5px;
  margin-bottom: 0px;
  margin-left: 2px;
  overflow-wrap: normal;
}

.user-comment .reply-text {
  grid-area: content;
}

.user-comment > .likes {
  grid-area: likes;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 11px;
  margin-top: 3px;
  margin-bottom: 8px;
}

.user-comment > .likes .fa-thumbs-up {
  background-color: #3B5998;
  color: white;
  border: 0px solid black;
  border-radius: 6px;
  padding: 3px;
  font-size: 8px;
}

.user-comment > .likes .likes-amount {
  font-size: 11px;
  color: #3B5998;
  margin-left: 2px;
}

.user-comment > .post-user-options {
  grid-area: options;
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  margin-right: 25px;
  margin-top: 5px;
}

.user-comment > .post-user-options .post-hover-box {
  display: none;
}

.user-comment > .post-user-options .cool-arrow-post {
  display: none;
}

.user-comment > .post-user-options .post-hover {
  color: gray;
}

.user-comment > .post-user-options:hover .post-hover-box {
  left: -107%;
  top: -27%;
}

.user-comment > .post-user-options:hover .cool-arrow-post {
  border-left: 6px solid #dddddd;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  left: 73px;
  top: 3px;
  font-size: 0;
  height: 0;
  line-height: 0;
  position: absolute;
  width: 0;
  display: block;
  z-index: 2;
}

.user-comment > .post-user-options .cool-arrow-post::after {
  border-left: 6px solid #eeeeee;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  left: -8px;
  top: -6px;
  content: " ";
  position: absolute;
}

.user-comment > .post-user-options .post-hover-options {
  width: 100%;
  margin: 1px 0px;
  padding: 1px 5px;
  border-radius: 2px;
  font-weight: bold;
  text-align: center;
}

.user-comment > .post-user-options .post-hover-options:hover {
  background-color: #cccccc;
  cursor: pointer;
}

.reply-input-box {
  display: flex;
  align-items: center;
}

.reply-input-box .user-reply-name {
  color: #3B5998;
  font-weight: bold;
  margin-right: 10px;
  width: 90px;
}

.reply-input-box .reply-input {
  font-family: 'Roboto', sans-serif;
  margin: 10px 5px 0px 0px;
  padding: 4px;
  width: 100%;
  min-height: 50px;
  resize: vertical;
  height: 50px;
  border: 2px solid #dddfe2;
  box-sizing: border-box;
}

.reply {
  display: grid;
  margin-top: 2px;
  grid-template-columns: 65px auto auto auto 50px;
  grid-template-rows: auto;
  grid-template-areas: "picture username username username options"  "picture content content content content"  "picture actions actions actions time"  "likes likes likes likes likes";
  border-left: 0.5px solid rgba(94, 93, 93, 0.74902);
}

.reply .post-profile {
  grid-area: picture;
}

.reply .user-reply-name {
  grid-area: username;
  color: #3B5998;
  font-weight: bold;
  margin: 5px;
  margin-bottom: 0px;
  margin-left: 2px;
  overflow-wrap: normal;
}

.reply .reply-content {
  grid-area: content;
  margin: 5px;
  margin-left: 2px;
  margin-top: 0;
  word-break: break-all;
}

.reply .likes {
  grid-area: likes;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 11px;
  margin-top: 3px;
  margin-bottom: 8px;
}

.reply .likes .fa-thumbs-up {
  background-color: #3B5998;
  color: white;
  border: 0px solid black;
  border-radius: 6px;
  padding: 3px;
  font-size: 7px;
}

.reply .likes .likes-amount {
  font-size: 11px;
  color: #3B5998;
  margin-left: 2px;
}

.reply > .post-user-options {
  grid-area: options;
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  margin-right: 25px;
  margin-top: 5px;
}

.reply > .post-user-options .post-hover-box {
  display: none;
}

.reply > .post-user-options .cool-arrow-post {
  display: none;
}

.reply > .post-user-options .post-hover {
  color: gray;
}

.reply > .post-user-options:hover .post-hover-box {
  right: 73%;
  top: -27%;
}

.reply > .post-user-options:hover .cool-arrow-post {
  border-left: 6px solid #dddddd;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  left: 6px;
  top: 3px;
  font-size: 0;
  height: 0;
  line-height: 0;
  position: absolute;
  width: 0;
  display: block;
  z-index: 2;
}

.reply > .post-user-options .cool-arrow-post::after {
  border-left: 6px solid #eeeeee;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  left: -8px;
  top: -6px;
  content: " ";
  position: absolute;
}

.reply > .post-user-options .post-hover-options {
  width: 100%;
  margin: 1px 0px;
  padding: 1px 5px;
  border-radius: 2px;
  font-weight: bold;
  text-align: center;
}

.reply > .post-user-options .post-hover-options:hover {
  background-color: #cccccc;
  cursor: pointer;
}

.comments-actions {
  grid-area: actions;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 11px;
  color: #3B5998;
}

.comments-actions .comment-like,
.comments-actions .comment-reply,
.comments-actions .comment-time {
  padding: 2px;
  padding-top: 0px;
  margin: 2px 0;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comments-actions .comment-like:hover,
.comments-actions .comment-reply:hover {
  cursor: pointer;
}

.comments-actions .comment-time {
  grid-area: time;
  color: rgba(94, 93, 93, 0.74902);
}

.user-comment > .post-user-options:hover .post-hover-box, .reply > .post-user-options:hover .post-hover-box {
  position: absolute;
  padding: 0px 5px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #eeeeee;
  width: 160px;
  height: 25px;
  overflow: hidden;
}

.hide {
  display: none !important;
}

@media screen and (max-width: 411px) {
  html {
    background-color: #E9EAED;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
  }
  .screen {
    display: none;
  }
  .header-wrap {
    display: flex;
    flex-direction: row;
  }
  .header-wrap .search-sec {
    max-width: none;
    min-width: 0px;
  }
  .header-wrap .user-options,
  .header-wrap .social-box:hover .title,
  .header-wrap .logo-search {
    display: none;
  }
  .header-wrap .fa-facebook-square::before {
    display: none;
  }
  .header-media-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 42px;
  }
  .header-media-cont .header-media-button {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 42px;
  }
  .header-media-cont .header-media {
    font-size: 20px;
    color: #293e6a;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    line-height: 2;
    width: auto;
  }
  .header-media-cont .header-media::before {
    display: inline-block;
  }
  .header-media-cont .header-media-button:hover {
    background-color: #283c66;
  }
  .header-media-cont .header-media-button:hover .header-media {
    color: white;
  }
}
