html{
    background-color:#3b5a96;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 35%;
    top: 35%;

}
.facebook-logo{
    position: absolute;
    top: -130px;
    width:300px;
    margin:10px 0;
}
.login-box{
    display: flex;
    position: relative;
    width: 450px;
    flex-direction: column;
    .login-info{
        height: 23px;
        padding: 3px 5px;
        border-radius: 3px;
        border: 0px solid black;
        margin:5px 0;

    }
}
.login-button{
    background-color: #486db3;
    padding: 8px;
    margin:5px 0px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: white;
    cursor: pointer;

    &:hover{
        background-color:#354f82;
    }

}
.login-pic-options{
    margin: 10px 0;
    input[type="radio"]{
        visibility: hidden; 
        position: absolute;

        &:checked + .pic{
            border: 2px #ffffff solid;
            box-sizing: border-box;
        }
    }

    .pic{
        height: 71px;
        border: 2px solid transparent;
        border-radius: 40px;
        box-sizing: border-box;
    }
}