@import "colors";
@import "header";
html {
    background: $main-background-color;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    
}
textarea, input, *:focus { outline: none !important; }
body{
    margin: 0;
    width: 100%;
    height: 100%;
}
.screen{
    display: flex;
    position: relative;
    align-content: center;
    justify-content: center;
    top: 42px;
    width: 100%;
    margin: 0;
    font-size:13px;
    overflow:hidden;

    
}
.wall{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "sidebar posts events";
    justify-content: center;
    grid-column-gap:10px;
}
.sidebar{
    grid-area: sidebar;
    width: 180px;
    .no-scroll{
        position: fixed;
        width: 180px;
    }
    .scroll{
        position: relative;
        width: 180px;
    }
}

.posts{
    grid-area: posts;
    width: 500px;
    font-size: 13px;
    margin-top:16px;
    
    .no-scroll{
        position: fixed;
        width: 500px;
    }
    .scroll{
        position: relative;
        width: 500px;
    }
    .post-profile{
        height: 45px;
        margin: 10px;
        border: 1px solid rgb(201, 198, 198);
        border-radius: 25px;
        box-sizing: border-box;
    }
}

.events{
    grid-area: events;
    width:308px;
    margin-top:16px;
    
    .no-scroll{
        width:308px;
        position: fixed;
    }
    .scroll{
        width:308px;
        position: relative;
    }
}
.user-sidebar{
    margin-top:13px;
    margin-bottom: 14px;
    padding: 4px 4px 4px 5px;
}
.social-sidebar .fa-ellipsis-h{
    margin-left: auto;
    margin-right: 5px;
    font-size: 12px;
}

.sidebar-titles{
    font-weight:bold;
    color:$color-gray;
    margin-bottom: 5px;
    
}
.shortcuts-sidebar,
.explore-sidebar{
    margin-top: 20px;
    display: flex;
    width: 180px;
    flex-direction: column;
}
.create-sidebar{
    margin-top: 20px;
    width: 180px;
    cursor: default;
}
.create{
    color:#344e86;
    cursor: pointer;
}
.create:hover{
    text-decoration: underline; 
}
.divider{
    color: $color-gray;
    font-size:10px;
    cursor: default;
}
.group .fas{
    color:$group-color;
}
.group-name,
.see-more-text{
    font-size: 13px
}
.see-more-text{
    color:#344e86;
}
.user-sidebar,
.newsfeed,
.messanger,
.marketplace{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.user-sidebar .name,
.user-sidebar .last-name{
    font-size: 13px;
    padding: 2px;
}

.sidebar-profile,
.newsfeed .fa-newspaper,
.messanger .fab,
.marketplace .fa-shopping-bag,
.shortcuts-sidebar .fas,
.explore-sidebar .fas,
.explore-sidebar .far
{
    font-size:  17px;
    margin-right: 4px;
}
.sidebar-profile{
    height: 22px;
    border-radius: 12px;
}
.social{
    font-size:13px;
}
.sidebar,
.social-sidebar{
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
}
.social-grid{
    display: grid;
    grid-template-columns: 25px 131px 20px;
    grid-template-rows: auto;
    grid-template-areas: 
    "icon title dot";
    justify-content: center;
    align-content: center;
    padding: 4px;
    padding-left:10px;
    
    &:hover{
        background-color:#F6F7F9;
        border: 1px solid rgba(195, 196, 197, 0.6196078431372549);
        border-radius: 4px;
        cursor: pointer;
        padding: 3px;
        padding-left:9px;
    }
    .fa-newspaper,
    .fa-user-secret,
    .fa-user-ninja{
        grid-area: icon;
    }
}

.social,
.group .group-name{
    grid-area: title;
}
.social-grid .fa-ellipsis-h {
    grid-area: dot;
    display:none;
    color: $color-gray;
}
.social-grid:hover .fa-ellipsis-h{
    display: inline-block;
}

.newsfeed .fa-newspaper{
    color: #52a5a7;
}
.messanger .fa-facebook-messenger{
    color: #6d84b4;
}
.marketplace .fa-shopping-bag{
    color: darkorange;
}
.sidebar-events .fa-calendar-alt{
    color:hotpink;
}
.sidebar-pages .fa-flag{
    color:orangered;
}
.sidebar-groups .fa-user-ninja{
    color: #794ACF;
}
.sidebar-friends .fa-user-friends{
    color: $main-blue-color;
}

.new-post{
    display:flex;
    flex-direction: column;
    width: 100%;
    font-size: 13px;
    background-color:#FFFFFF;
    border: 1px solid $border-color;
    border-radius: 4px;
    
    .post-cont{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    };
    
}
.cool-arrow-post{
    border-bottom: 8px solid #e9ebee;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    left: 10%;
    top: 27px;
    font-size: 0;
    height: 0;
    line-height: 0;
    position: absolute;
    width: 0;
}
.cool-arrow-post::after{
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    left: -8px;
    top: 2px;
    content: " ";
    position: absolute;
}
.post-ot{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "icon title";
    padding: 8px;
}
.post-ot:hover{
    background-color:#ecedef;
    cursor: pointer;   
    border: 0px solid black;
    border-radius: 10px; 
}


.post-options{
    display: flex;
    align-content: center;
    justify-content: flex-start;
    background-color: #F6F7F9;
    width: 100%;
    height: 33px;
    border-bottom: 1px solid rgb(221, 223, 226);
    margin-right: 1px;
}
.post-options .fas{
    grid-area: icon;
    width:20px;
    color: rgba(0, 0, 0, 0.7294117647058823);
}
.post-options span[class$="title"]{
    grid-area: title;
    font-weight: bold;
    color:$main-blue-color;
}

.post-options .divider{
    font-size: 20px;
}
.post-box-input{
    width: 100%;
    height: 31px;
    padding-top: 25px;
    padding-bottom:15px;
    resize: none;
    font-family: 'Roboto', sans-serif;
    outline: none; 
    border: none;
    overflow: hidden;
}
.post-box{
    border-bottom: 1px solid rgb(221, 223, 226);
    border-radius: 20px;
    .far{
        font-size:40px;
        padding: 10px;
        color: $my-user-color;
    }
}
div[class^="post-add"] i[class*="fa-"]{
    grid-area:icon;
    font-size: 20px;
}
div[class^="post-add"] span[class$="-title"]{
    grid-area:title;
    padding: 3px;
}
.post-text .fa-pencil-alt,
.post-album .fa-images,
.post-live .fa-video{
    padding-right:3px;
}
div[class^="post-add"],
.post-add .fa-ellipsis-h{
    background-color:#F6F7F9;
    margin-left: 10px;
    border:0px solid black;
    border-radius: 20px;
    padding-top:4px;
    padding-bottom:4px;
}
.post-add{
    height: 49px;
    
    .fa-ellipsis-h{
        padding: 7px 8px 9px 8px;
        width: 50px;
        height: 12.2px;
        text-align: center;
        font-size:18px;
        color:$color-gray;
    };
}
.post-add-photo .fa-image{
    color: rgba(111, 172, 18, 0.8901960784313725);
}
.post-add-feeling .fa-smile{
    color: rgba(243, 180, 3, 0.6705882352941176);
}
.post{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    width: 100%;
    background: white;
    margin-top:5px;
    border: 1px solid $border-color;
    border-radius: 4px;
    
    .pic1{
        height: auto;
        max-height: 300px;
        max-width: 500px;
        margin:10px 10px 0 10px;
    };
    
}


.user-posting{
    display: grid;
    grid-template-columns: 60px auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "profile username options";
    align-items: center;
    margin-bottom: 6px;
    margin-top:6px;
    
    .post-profile{
        grid-area:profile;
    }
    .user-posting-name-time{
        grid-area: username;
        display: grid;
        grid-template-columns: 30px 300px;
        grid-template-rows:auto;
        grid-template-areas: 
        "name name"
        "time privacy";
        align-items: center;
        grid-row-gap: 3px;
        
        .username-posting{
            grid-area: name;
            color: $main-blue-color;
            font-weight: bold;
        }
        
        .time-posting{
            grid-area: time;
            font-size:10px;
            color: $color-gray;
        }
        
        .fa-globe{
            grid-area: privacy;
            margin-right:390px;
            font-size: 8px;
            color: $color-gray;
        }
    }
   
    .post-user-options{
        grid-area: options;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .post-hover-box{
            display:none;
           
        }
        .cool-arrow-post{
            display: none;
        }
        
        .post-hover{
            color: gray;
        }
        &:hover .post-hover-box {
            display: inline-block;
            position: absolute;
            left: -10%;
            top: 133%;
            padding: 5px 0px;
            border: 1px solid #dddddd;
            border-radius: 10px;
            z-index: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            background-color:#eeeeee;
            width: 100px;
            overflow: hidden;

        }

        &:hover .cool-arrow-post{
            border-bottom: 8px solid #dddddd	;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            left: 22.5px;
            top: 9px;
            font-size: 0;
            height: 0;
            line-height: 0;
            position: absolute;
            width: 0;
            display: block;
            z-index: 2;
        }
        .cool-arrow-post::after{
            border-bottom: 8px solid #eeeeee;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            left: -8px;
            top: 2px;
            content: " ";
            position: absolute;
        }
        .post-hover-options{
            width: 100%;
            margin-top:5px;
            margin-bottom: 5px;
            padding: 4px 5px;
            font-weight: bold;

            &:hover{
                background-color:#cccccc;
                cursor: pointer;
            }
        }

        
    }

}

.post-content{
    margin-left: 10px;
    margin-top: 5px;
}
.edit-active{
    width: 490px;
    padding: 0;
    margin-left: 7px;
    margin-top:2px;
    resize: none;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    overflow: hidden;
    box-sizing: border-box;
    border: 3px solid $color-gray;

}

.post-action{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: $color-gray;
    border-bottom: 1px solid rgb(221, 223, 226);
    font-weight: bold;
    
    div[class^="post-"]{
        padding:7px;
        margin: 2px 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    div[class^="post-"]:hover{
        background-color: #f2f3f5;
        cursor: pointer;
        
    }
    .clicked{
        background-color: #f2f3f5;
    }
}
.post-likes{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
    margin-top:8px;
    margin-bottom:8px;
    
    .fa-thumbs-up{
        background-color: $main-blue-color;
        color:white;
        border: 0px solid black;
        border-radius: 6px;
        padding: 3px;
        font-size: 8px;
    }
    
    .likes-amount{
        font-size:11px;
        color: $main-blue-color;
        margin-left: 2px;
    }
}


.stories{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid $border-color;
    border-radius:4px;
    
    .see-more{
        margin: 0px 8px 8px;
    }
    
}
.stories-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.stories-title,
.stories-header .fa-ellipsis-h{
    padding:8px;
    color: $color-gray;
    font-weight: bold;
}
div[class^="stories-story"]{
    margin: 0px 0 2px 0;
    padding: 4px;
    display: grid;
    grid-template-columns: 55px auto;
    grid-template-rows: auto;
    grid-template-areas:
    "picture username"
    "picture add";
}

.stories-story-main .fa-plus-circle::before{
    background-color: #afbdd4    ;
    border-radius: 100px;
}
.stories-story-1 .fa-user-circle{
    color: #246188;
}
.stories-story-2 .fa-user-circle{
    color: purple;
}
div[class^="stories-story"] i[class*="fa-"]{
    grid-area: picture;
    font-size:45px;
}
div[class^="stories-story"] .stories-username{
    grid-area: username;
    color: #344e86;
    font-weight: bold;
}
div[class^="stories-story"] .stories-additional{
    grid-area:add;
    color:$color-gray;
    font-weight: bold;
    font-size:11px;
}

div[class^="stories-story"]:hover{
    background-color: #f2f3f5;
    cursor: pointer;
    border: 0px solid black;
    
}

.see-more{
    cursor: pointer;
    
    .fas{
        color:$color-gray;
    };
    
    &:hover .see-more-text{
        text-decoration: underline;
    }
}


.post-commenting{
    display: flex;
    flex-direction: column;

    background-color: white;
    border: 1px solid $border-color;
    border-left: 0px;
    border-right: 0px;
    height: auto;
    width: 500px;

    .commenting-textarea{
        width: 100%;
        height: 80px;
        min-height: 80px;
        padding: 0;
        margin-top:10px;
        resize: vertical;
        font-family: 'Roboto', sans-serif;
        outline: none; 
        border: 2px solid $border-color;
        box-sizing: border-box;
        overflow: hidden;
    }

    .comment-button{
        color: $color-gray;
        background-color: #eeeeee;
        border: 1px solid $border-color;
        padding: 5px;
        margin: 5px;
        width: 84px;
        align-self:flex-end;

        &:hover{
            background-color: #dddddd;
            cursor: pointer;
        }
    }
}
.comments-box{
    display: grid;
    grid-template-columns: 65px auto;
    grid-template-rows: auto;
    grid-template-areas:
    "picture username username username"
    "picture content content content"
    "picture actions actions time";
    align-content: center;
    border-top: 1px solid $border-color;
    border-radius: 10px;
    margin-top:10px;


    .post-profile{
        grid-area: picture;
        align-self: center;
    };
   
    .comment-content{
        grid-area: content;
        margin:5px;
        margin-left:2px;
        margin-top:0;
        word-break: break-all;
        overflow: hidden;
    };

    .username-commenting{
        grid-area: username;
        color: #3B5998;
        font-weight: bold;
        margin: 5px;
        margin-bottom: 0px;
        margin-left:2px;
        overflow-wrap: normal; 
    };

    
    .comment-time{
        grid-area: time;
    };

    .comments-actions{
        grid-area: actions;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-size: 11px;
        color: #3B5998;

        .comment-like,
        .comment-comment,
        .comment-time{
        padding: 2px;
        padding-top: 0px;
        margin: 2px 0;
        margin-top: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        };

        .comment-like:hover,
        .comment-comment:hover{
            cursor: pointer;
        }
        .comment-time{
            color: $color-gray;
        }
    }
}
.hide{
    display: none;
}
@import "media";

