
html {
    background: $main-background-color;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    
}
textarea, input, *:focus { outline: none !important; }
body{
    margin: 0;
    width: 100%;
    height: 100%;
}
.screen{
    display: flex;
    position: relative;
    align-content: center;
    justify-content: center;
    top: 42px;
    width: 100%;
    margin: 0;
    font-size:13px;
    overflow:hidden;

    
}
.wall{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "sidebar posts events";
    justify-content: center;
    grid-column-gap:10px;
}
.posts{
    grid-area: posts;
    width: 500px;
    font-size: 13px;
    margin-top:16px;
    
    .no-scroll{
        position: fixed;
        width: 500px;
    }
    .scroll{
        position: relative;
        width: 500px;
    }
    .post-profile{
        height: 45px;
        margin: 10px;
        border: 1px solid rgb(201, 198, 198);
        border-radius: 25px;
        box-sizing: border-box;
    }
    .posted{
        margin-bottom: 8px;
    }
}
.events{
    grid-area: events;
    width:308px;
    margin-top:16px;
    
    .no-scroll{
        width:308px;
        position: fixed;
    }
    .scroll{
        width:308px;
        position: relative;
    }
}


.hide{
 display: none !important
}
