
.header-wrap{
    display: flex;
    background: $main-blue-color;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    width: $screen-size ;
    margin: 0 auto;
    max-height: 42px;

}
.header{	
    display: flex;
    background: $main-blue-color;
    height: 42px;
    justify-content:center;
    align-items:center;
    position: fixed;
    z-index:3;
    width: 100%;
    
    p{
        color: white;    
        font-size: 10px;
    }   
} 
.search-sec{
    display: flex;
    position:relative;
    width: 100%;
    max-width: 448px;
    min-width: 200px;
    align-items:center;
    justify-content:flex-start;
    height: 20px;
    
}
.header-search{
    width: calc(100% - 20px);
    height: 25px ;
    border-radius: 2px 0 0 2px;
    border: 0px solid #000000;
    padding: 0;
    padding-left: 3px;
}
.fa-search::before{
    display: flex;
    align-items:center;
    justify-content:center;
}
.fa-search{
    background-color:#F8FAFC;
    color: #606F7B;
    width: 35px;
    padding: 4.5px;
    border-radius: 0 2px 2px 0;
    border: 0px solid #000000;
    border-left: 1px solid #F1F5F8;
    
}
.fa-search:hover{
    background-color:#DAE1E7;
    cursor: pointer;
}
.fa-search::before{
    line-height: normal;
}

.fa-facebook-square{
    display:block;
    color:white;
    margin-left: 2%;
    margin: auto 10px auto 0;
    font-size: 30px;
}
.fa-facebook-square:hover{
    color:#DAE1E7;
    cursor: pointer;
}  
.logo-search{
    display: flex;
    justify-content:flex-start;
    width: calc(100% - 310px);
    height: 42px;
    align-items: center;
}

.home-button{
    padding: 8px 10px 8px 10px;
    margin:0;
    border: 0 solid black;
    border-radius: 7px;
}
.home-button:hover,
.user:hover
{
    background-color:#344e86;
    cursor: pointer;
}
.user-social, .user-other{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-social{
    justify-content: center;
    width: 85px;
    margin: 0px 10px 0px 10px;
}
.user-other{
    width: 53px;
    margin: 0px 10px 0px 10px;
}
.user-options{
    display: flex;
    justify-content:flex-start;
    width: 315px;
    height: 42px;
    align-items: center;
    
    .far,
    .fas,
    .fab{
        color:	#293e6a;
        font-size: 20px;
        margin: 0px 5px 0px 5px;
    };
    .far:hover,
    .fas:hover,
    .fab:hover{ 
        color:#1d2c4c;
        cursor: pointer;
    };
}

.user{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 60px;
    margin: 0px 0px 0px 5px;
    padding: 3px 10px 3px 5px;
    border: 0 solid black;
    border-radius: 7px;
    .header-profile{
        height: 25px;
        border-radius: 15px;
        margin-right: 5px;
    } 
    p{
        margin: 0px;
    };


} ;

.line{
    display: inline-block;
    color:#355088;
    font-size: 1.2rem;
};

.title{
    font-size:0px;
 };

 .social-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
 
    &:hover .title,{
    font-size: 12px;
    display: block;
    z-index: 100;
    position: absolute;
    top: 41px;
    background-color: #616060;
    border-radius: 4px;
    border: 0px solid black;
    padding: 2px;
    color: white;
    }
 }
 .header-media-cont,
 .header-media{
    display: none;
}

.more-options-box{
   position: absolute;
   top: 2px;
   right: 54.5px;
    .cool-arrow-post{
        top: 19.5px;
        left: 35px;
        border-bottom: 8px solid white;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        z-index: 110;
        
        &::after {
            border-bottom: 0px solid white;
            border-left: 0px solid transparent;
            border-right: 0px solid transparent;
            left: -8px;
            top: 2px;
            content: " ";
            position: absolute;
        }
    } 
}
.more-options-tab{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color:white;
    top: 27px;
    right:-64px;
    z-index: 101;
    border: 1px solid #dddddd;
    border-radius: 2px;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    box-shadow: 3px 4px 11px 0px #888888;
    width: 140px;

    :first-child{
        margin-top: 5px;
    }
    :last-child{
        margin-bottom: 5px;
    }
    span[class^="more-options"]{
        padding: 5px;
        font-size: 12px;
        font-weight: bold;
        width: 100%;
        text-align: center;
        cursor: pointer;

        &:hover{
            background-color:$main-blue-color;
            color: white;
 
        }
    }

}

